<h2 class="ms-font-xl ms-fontWeight-semibold">{{service.name}}</h2>
<!--Error message only displays if an error is triggered by an incorrect form submission-->
<div class="ms-MessageBar ms-MessageBar--error" *ngIf="error">
    <div class="ms-MessageBar-content">
        <div class="ms-MessageBar-icon">
            <i class="ms-Icon ms-Icon--ErrorBadge"></i>
        </div>
        <div class="ms-MessageBar-text">
            {{errorMessage}}
        </div>
    </div>
</div>
<h4 class="ms-font-xl ms-fontWeight-light">Input Parameters</h4>
<!--Service form populated by the service selected from the web-services component-->
<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" novalidate>
    <!-- Service Controls -->
    <div formArrayName="inputParameters">
        <ul class="ms-List">
            <li class="ms-ListItem" tabindex="0" *ngFor="let parameter of serviceForm['controls']['inputParameters']['controls']; let i=index" [formGroupName]="i">
                <span class="ms-ListItem-primaryText">{{ serviceForm.value.inputParameters[i].name }}</span>
                <span class="ms-ListItem-secondaryText" *ngIf="serviceForm.value.inputParameters[i].type != 'matrix' && serviceForm.value.inputParameters[i].type != 'vector' 
                && serviceForm.value.inputParameters[i].type != 'data.frame'; else range">Value: {{ serviceForm.value.inputParameters[i].value }}</span>
                <ng-template #range>
                    <span class="ms-ListItem-secondaryText">Range: {{ serviceForm.value.inputParameters[i].value }}</span>
                </ng-template>
                <span class="ms-ListItem-tertiaryText">Type: {{ serviceForm.value.inputParameters[i].type }}</span>
                <button class="ms-Button" type="button" (click)="onClickInput(i)" [disabled]="submitted">
                    <span class="ms-Button-label">Select Data</span> 
                </button>
            </li>
        </ul>
    </div>
    <h4 class="ms-font-xl ms-fontWeight-light">Output Parameters</h4>
    <div formArrayName="outputParameters">
        <ul class="ms-List">
            <li class="ms-ListItem" tabindex="0" *ngFor="let parameter of serviceForm['controls']['outputParameters']['controls']; let i=index" [formGroupName]="i">
                <span class="ms-ListItem-primaryText">{{ serviceForm.value.outputParameters[i].name }}</span>
                <span class="ms-ListItem-secondaryText">Range: {{ serviceForm.value.outputParameters[i].value }}</span>
                <span class="ms-ListItem-tertiaryText">Type: {{ serviceForm.value.outputParameters[i].type }}</span>
                <button class="ms-Button" type="button" (click)="onClickOutput(i)" [disabled]="submitted">
                    <span class="ms-Button-label">Select Location</span> 
                </button>
            </li>
        </ul>
    </div>
    <br>
    <button class="ms-Button ms-Button--primary" type="submit" [disabled]="submitted"><span class="ms-Button-label">Submit</span></button>
</form>

<!--Uncomment for error debugging within Excel-->
<!-- <p>{{feedback | json}}</p> -->